appdirs==1.4.4
audioread==2.1.8
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cssmin==0.2.0
cycler==0.10.0
decorator==4.4.2
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
Flask-Assets==2.0
gensim==3.8.3
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
jsmin==2.2.2
kiwisolver==1.2.0
lesscpy==0.14.0
librosa==0.8.0
llvmlite==0.33.0
MarkupSafe==1.1.1
matplotlib==3.3.0
nltk==3.5
numba==0.50.1
numpy==1.19.0
opencv-python==4.4.0.44
packaging==20.4
pandas==1.0.5
Pillow==7.2.0
pipenv==2020.6.2
playsound==1.2.2
ply==3.11
pooch==1.2.0
pwlf==2.0.4
pyclustering==0.10.0.1
pycparser==2.20
pyDOE==0.3.8
pydub==0.24.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
regex==2020.10.28
requests==2.24.0
resampy==0.2.2
scikit-learn==0.23.1
scikit-learn-extra==0.1.0b2
scipy==1.5.1
seaborn==0.11.0
six==1.15.0
sklearn==0.0
sklearn-extras==0.1.1
smart-open==3.0.0
SoundFile==0.10.3.post1
TBB==0.1
threadpoolctl==2.1.0
tqdm==4.50.0
-e git+https://github.com/marximus/trackviz@f06a5ee21f5cc9bdd49f62f7a2ad6de4e70f243f#egg=trackviz
umap-learn==0.4.6
urllib3==1.25.10
virtualenv==20.0.27
virtualenv-clone==0.5.4
wavio==0.0.4
webassets==2.0
Werkzeug==1.0.1
xlrd==1.2.0
